*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; /*Faz com que o Padding não aumento a height e width dos Elementos*/  

}

body{
  font-family: Arial, Helvetica, sans-serif;
  background: #fafafa;
  color: #333;
}


header#main-Header{
  width: 100%;
  height: 100%;
  background: #da552f;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-weight: bold;
  font-style: italic;

}


#post{
  max-width: 700px;
  margin: 20px auto 0;
  padding: 0 20px;

}


#post article {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px; 

}
#post article p {
  font-size: 16px;
  color: #999;
  margin-top: 5px;
  line-height: 24px;
}

#post article h2 {
  font-size: 24px;
  color: black;
  
}

#post article p.coments{
  margin: 5px;
  padding: 5px;
  color: black;
  border: 1px solid #ddd;
  border-radius: 5px;

}
